<h1 class="text-center">
    Login Here
</h1>

<div class="container">
    <div class="row mx-auto">
       <form id="Loginform">
            <div class="col-12 p-5 rounded-3 bg-success bg-gradient">
                <label>Email</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="Enter Email..." />
                <label>Password</label>
                <input type="password" name="pass" id="pass" class="form-control" placeholder="Enter Password..." />
                <input type="checkbox" name="remeber" id="remeber" class="form-check-input" /> Remeber Me
                <input type="button" value="Login" id="btnLogin" class="btn btn-danger mt-3" />
            </div>
       </form>
    </div>
</div> 